@font-face {font-family: "iconfont";
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-style:normal;
    font-size: 18px;
    color: #999999;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
table .iconfont:hover{
    color: #31c27c;
}


*{
    padding: 0;
    margin: 0;
    fontFamily: Arial,Helvetica,sans-serif;
    color: #333;
    font-size: 14px;
    li {list-style-type:none;}
}


.nav{

    li:hover{
        color: white;
        background-color: #31c27c;
        cursor: pointer;
    }
}

.myAlbum{
    width: 90%;
    margin: 0 auto;

    li.ablumLi{
        width: 220px;
        float: left;
        margin-right: 50px;
        margin-bottom: 100px;
        cursor: pointer;

        img{
            width: 220px;
            width: 220px;
        }

    }
}



.myMusic{
    width: 90%;
    margin: 0 auto;

    .controllerList{
        width: 50%;

        .controllerButton{
            display: inline-block;
            width: 122px;
            height: 40px;
            margin-right: 6px;
            border: 1px solid #c9c9c9;
            border-radius: 2px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
        }
        .controllerButton:hover{
            background-color: #e0e0e0;
        }

        #playAll{
            background-color: #31c27c;
            border-color: #31c27c;

            span{
                color: white;
            }
            i{
                color: white;
            }
        }
        #playAll:hover{
            background-color: forestgreen;
            border-color: forestgreen;
        }
    }
}

.singlesListTable{
    width: 100%;
    margin-top: 40px;

    li{
        height: 50px;
    }

    span{
        display: inline-block;
        height: 50px;
        line-height: 40px;
    }

    i:hover{
        color: #31c27c;
    }

    li.oddTr{
        background-color: #F0F0F0;
    }

    li.firstTr{

        span{
            color: #888888;
        }
    }

    span.singleName{
        padding-left: 20px;
        width: 26%;
    }

    span.singleDo{
        width: 20%;
    }
    span.singleAuthor{
        width: 18%;
    }
    span.singleAlbum{
        width: 24%;
    }
    span.singleDurition{
        width: 8%;
    }

}


.musicPlayer{

    width: 86%;
    margin: 0 auto;
    padding-top: 30px;

    i:hover{
        color: white;
    }

    *{
        color: #999999;
        font-size: 16px;
    }

    .controllerButton{

        display: inline-block;
        width: 142px;
        height: 34px;
        margin-right: 12px;
        border: 1px solid #999999;
        border-radius: 2px;
        line-height: 34px;
        text-align: center;
        cursor: pointer;



    }

    .controllerButton:hover{
        border-color: white;

        *{
            color: white;
        }
    }
}

.playList{
    width: 68%;
    margin-top: 30px;
    overflow-y: auto;

    .playListLi{
        height: 50px;

        input{
            display: inline-block;
            width: 6%;
            height: 16px;

        }

        span{
            display: inline-block;
            height: 50px;
            line-height: 50px;
        }

        .nameSpan{
            width: 36%;
        }

        .operaSpan{
            width: 16%;

            i:hover{
                color: white;
            }
        }

        .authorSpan{
            width: 26%;
        }

        .durSpan{
            width: 16%;
        }
    }
}

.playingLi{
    *{
        color: white;
    }
}

.playControllerList{
    margin-top: 30px;

    i{
        font-size: 28px;
        margin-right: 34px;
    }

    i:hover{
        color: white;
    }
}